<h2>質問一覧 画面</h2>
<% @questions.each do |question| %>
  <li>
    <%= link_to question.title, question %>
    <% if question.solved_check %>
      <%= '解決済み' %>
    <% else %>
      <%= '未解決' %>
    <% end %>
  </li>
<% end %>
